// Color variables
$blue: #106EEA;
$orange: #F47820;
$purple: #762E92;
$gray-100: #dddddd;
$gray-300: #333333;
$white: #FFFFFF;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var($white);
    color: var($gray-300);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

body,
input,
textarea,
button {
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 1rem;
}

li {
    list-style-type: none;
}

.swiper-button-prev,
.swiper-button-next {
    &::after {
        font-size: 2rem;
        color: $gray-100;
    }
}

p.default_subtitle {
    padding: 0 1rem;
    text-align: center;
    font-size: 1rem;
    color: $orange;
    font-weight: 600;
    text-transform: uppercase;
}

.default_title {
    padding: 0 1rem;
    margin-top: 0.75rem;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    text-align: center;
}

@media screen and (max-width:1280px) {
    .default_title {
        font-size: 2.25rem;
    }
}

@media screen and (max-width:1199px) {
    .default_title {
        font-size: 2rem;

        &::before,
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width:767px) {
    .default_title {
        font-size: 2rem;

        &::before,
        &::after {
            width: 2rem;
        }
    }
}

@media screen and (max-width:575px) {

    p.default_subtitle {
        font-size: 0.9rem;
    }

    .default_title {
        margin-top: 0.5rem;
        font-size: 1.8rem;
    }
}